<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.glucosio.android" >

    <application>
        android:name=".GlucosioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="locale"
        android:theme="@style/GlucosioTheme"
-       android:supportsRtl="true">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/GlucosioTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HelloActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/title_activity_hello" >
        </activity>
        <activity
            android:name=".activity.GittyActivity"
            android:theme="@style/GittyTheme">
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:theme="@style/GlucosioSettings">
        </activity>
        <activity
            android:name=".activity.LicenceActivity"
            android:theme="@style/GlucosioSettings">
        </activity>

        <!-- Register AnalyticsReceiver and AnalyticsService to support background
 dispatching on non-Google Play devices -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name=".activity.BackupActivity"
            android:label="@string/title_activity_backup"
            android:parentActivityName=".activity.PreferencesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.glucosio.android.activity.PreferencesActivity" />
        </activity>
    </application>

</manifest>
